#**MONTANDO O DRIVE**

Vamos importar as bibliotecas que vamos utilizar para essa prática

In [1]:
import pandas as pd
import os # bibliotecas para funções do sistema operacional

In [3]:
# abrindo pasta no Google Drive

caminho= "//content//drive//MyDrive//Planilha Kaggle-Juncao_de_Planilhas//"

#**Criando uma lista com todos os arquivos do diretório**


Agora vamos criar uma lista com todos os arquivos que estão armazenados no diretório.

o metódo listdir retorna uma lista contendo os nomes das entradas no diretório fornecido por path.

In [9]:
lista_df = [] # cria uma lista
lista_path = os.listdir(caminho) #entra no diretorio e pega todos os arquivos

In [10]:
#lista os 3 primeiros arquivos
lista_path[:3]

['Placement_Data_Full_Class 1 .csv', 'Placement_Data_Full_Class 2 .csv']

#**Lendo arquivos em Excel**

**Lendo e adicionando cada informação dos arquivos em um único dataframe**



Ótmo! Agora temos todos os nomes dos aquivos que estão dentro do diretório. Agora vamos abrir cada arquivo e coletar os seus dados.

In [ ]:
lista_df = [] # cria uma lista vazia
for arquivo in lista_path:
    local_arquivo = os.path.join(caminho, arquivo)    
    df = pd.read_excel(local_arquivo)
    lista_df.append(df)    
df = pd.concat(lista_df) # Atribui os dados coletados de cada lista em um dataframe

In [ ]:
df[:5]  #visualizando os 15 primeiros registros do meu novo datafreme

In [ ]:
# Visualizando as estatistica do dataframe
df.shape

**Exportando dados para arquivos**

Agora que ja temos todos os arquivos do diretório, vamos exporta-los apenas para um arquivo único.

In [ ]:
df.to_excel(caminho + 'Novo_arquivo.xlsx')

#**Lendo arquivos em CSV**

Lendo e adicionando cada informação dos arquivos em um único dataframe

Ótmo! Agora temos todos os nomes dos aquivos que estão dentro do diretório. Agora vamos abrir cada arquivo e coletar os seus dados.

In [11]:
lista_df = [] # cria uma lista vazia
for arquivo in lista_path:
    local_arquivo = os.path.join(caminho, arquivo)
    df = pd.read_csv(local_arquivo, sep = ',', encoding='latin-1')
    lista_df.append(df)
df = pd.concat(lista_df) # Atribui os dados coletados de cada lista em um dataframe

In [12]:
df[:5]  #visualizando os 5 primeiros registros do meu novo datafreme

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0

[5 rows x 15 columns]

In [13]:
# Visualizando as estatistica do dataframe, temos 215 linhas e 15 colunas
df.shape

(215, 15)

**Exportando dados para arquivos**

Agora que ja temos todos os arquivos do diretório, vamos exporta-los apenas para um arquivo único.

In [14]:
df.to_csv(caminho + 'Novo_arquivo.csv')